<div fxLayout="column" fxLayoutAlign="center start" style="margin: 1rem;" fxLayout.gt-md="row">
    <div class="tasks-container">
        <div class="list-title">
            <span class="list-title">To do</span>
        </div>

        <mat-card cdkDropList id="todoList" [cdkDropListData]="todoNew" class="tasks-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="['doneList']">
            <div *ngIf="todoNew.length === 0">Nothing to do here</div>
            <div @fadeAnimation *ngFor="let item of todoNew" cdkDrag class="todo-item">
                <ng-container [ngTemplateOutlet]="todoItem" [ngTemplateOutletContext]="{item:item, done:false}">
                </ng-container>
                <mat-icon cdkDragHandle style="cursor: move;">drag_handle</mat-icon>
            </div>
            <!-- <div @fadeAnimation *ngFor="let item of todoNew" cdkDrag
                style="cursor: default; overflow: hidden; border-bottom: solid 1px #444444;">
                <div class="task-wrapper" @fadeAnimation cdkDrag style="cursor: default;">
                    <mat-checkbox [checked]="false" (change)="checkboxClick(item,false)"></mat-checkbox>
                    <span style="text-align: left; width: 100%; margin-left: 1rem;">{{item.text}}</span>
                    <mat-icon cdkDragHandle style="cursor: move;">drag_handle</mat-icon>
                </div>
            </div> -->
        </mat-card>
    </div>

    <div class="tasks-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="list-title" style="cursor: pointer;"
            (click)="showDone = ! showDone">
            <span class="">Done ({{doneNew.length}})</span>
            <mat-icon class="chevron-icon" style="rotate: 90deg;" [class.collapsed]="!showDone">expand_more</mat-icon>
        </div>


        <mat-card *ngIf="showDone" cdkDropList id="doneList" [cdkDropListData]="doneNew" class="tasks-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="['todoList']">
            <div @fadeAnimation *ngFor="let item of doneNew" cdkDrag class="todo-item">
                <ng-container [ngTemplateOutlet]="todoItem" [ngTemplateOutletContext]="{item:item, done:true}">
                </ng-container>
                <mat-icon cdkDragHandle style="cursor: move;">drag_handle</mat-icon>
            </div>
            <!-- <div @fadeAnimation *ngFor="let item of doneNew" cdkDrag
                style="cursor: default; overflow: hidden; border-bottom: solid 1px #444444;">
                <div class="task-wrapper">
                    <mat-checkbox [checked]="true" (change)="checkboxClick(item,true)"></mat-checkbox>
                    <span
                        style="text-align: left; width: 100%; text-decoration: line-through; margin-left: 1rem;">{{item.text}}</span>
                    <span class="date-pill">6 hours ago</span>
                    <mat-icon cdkDragHandle style="cursor: move;">drag_handle</mat-icon>
                </div>
            </div> -->
        </mat-card>
    </div>
</div>

<ng-template #todoItem let-item='item' let-done='done'>
    <div class="task-wrapper" [class.done]="done">
        <mat-checkbox [checked]="done" (change)="checkboxClick(item,done)"></mat-checkbox>
        <!-- <span class="todo-text">{{item.text}}</span>
        <span class="date-pill" *ngIf="item.deadline">{{getRelativeTime(item.deadline)}}</span> -->

        <div style="width: 100%;">
            <span class="todo-text">{{item.text}}</span>
            <div class="app-pill" style="margin-top: .5rem; width: fit-content; margin-left: .8rem;"
                *ngIf="item.deadline">
                <!-- {{item.deadline | timeStamp }} -->
                <ng-container *ngIf="done; else todoDateTime">{{item.deadline | timeStamp }}</ng-container>
                <ng-template #todoDateTime>{{item.deadline | relativeTimeStamp }}</ng-template>
            </div>
        </div>
    </div>
</ng-template>