<div fxLayout="column" fxLayoutAlign="start center" style="margin: 1rem;" fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="center start" fxLayoutGap="1rem">
    <div class="tasks-container">
        <div class="list-title">
            <span class="list-title">To do</span>
        </div>

        <mat-card cdkDropList id="todoList" [cdkDropListData]="todo" class="tasks-list"
            [@.disabled]="disableListAnimation" (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="['doneList']">
            <div *ngIf="todo.length === 0 && !isLoading" @fadeAnimation class="empty-info">Nothing to be done here 😎, how about adding a new task!? 😄</div>
            <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center" class="my-2">
                <mat-spinner strokeWidth="3" diameter="50"></mat-spinner>
            </div>
            <div @fadeAnimation *ngFor="let item of todo; index as i" cdkDrag class="todo-item"
                (cdkDragStarted)="onDragBegin()" (cdkDragEnded)="onDragEnd()">
                <ng-container [ngTemplateOutlet]="todoItem" [ngTemplateOutletContext]="{item:item, done:false}">
                </ng-container>
                <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
            </div>
        </mat-card>
        <button mat-raised-button color="primary" class="w-100 mt-2 " fxHide fxShow.gt-sm [disabled]="isLoading"
            (click)="openDialog()">add new
        </button>
    </div>

    <div class="tasks-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="list-title" style="cursor: pointer;"
            (click)="showDone = ! showDone">
            <span>Done ({{done.length}})</span>
            <mat-icon class="chevron-icon" style="rotate: 90deg;" [class.collapsed]="!showDone">expand_more</mat-icon>
        </div>

        <div class="done-container" [class.hidden]="!showDone">
            <mat-card cdkDropList id="doneList" [cdkDropListData]="done" class="tasks-list mb-4"
                [@.disabled]="disableListAnimation" (cdkDropListDropped)="drop($event)"
                [cdkDropListConnectedTo]="['todoList']">
                <div @fadeAnimation *ngFor="let item of done" cdkDrag class="todo-item" (cdkDragStarted)="onDragBegin()"
                    (cdkDragEnded)="onDragEnd()">
                    <ng-container [ngTemplateOutlet]="todoItem" [ngTemplateOutletContext]="{item:item, done:true}">
                    </ng-container>
                    <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div style="position: fixed; bottom: 1.2rem; right: 1.2rem;" fxShow fxHide.gt-sm>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" [disabled]="isLoading"
        (click)="openDialog()"
        style="width: 65px; height: 65px; border-radius: 13px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-template #todoItem let-item='item' let-done='done'>
    <div class="task-wrapper" [class.done]="done">
        <mat-checkbox [checked]="done" (change)="markTaskAs(item,!done)"></mat-checkbox>
        <div style="width: 100%; cursor: pointer;" (click)="openDialog(item)">
            <p class="todo-text">{{item.text}}</p>
            <div class="app-pill" *ngIf="item.date">
                {{item.date | timeStamp }}
            </div>
        </div>
    </div>
</ng-template>