@use "../../../../../assets/scss/partials/app-theme" as theme;

.tasks-container {
  width: 600px;
  max-width: 100%;
  // margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.tasks-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.done-container {
  overflow: hidden;
  max-height: none;
  animation-name: expand;
  animation-duration: 200ms;
}

.done-container.hidden {
  animation-name: collapse;
  animation-duration: 200ms;
  max-height: 0;
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 900px;
  }
}

@keyframes collapse {
  from {
    max-height: 900px;
  }
  to {
    max-height: 0;
  }
}

.task-list,
.task-container,
.todo-item {
  background-color: theme.mat-color(theme.$custom-dark-primary);
}

.task-wrapper {
  padding: 20px 10px;
  color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
  flex-grow: 1;

  .todo-text {
    text-align: left;
    flex-grow: 1;
    margin-left: 1rem;
  }
}

.task-wrapper.done .todo-text {
  text-decoration: line-through;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-wrapper:last-child {
  border: none;
}

.tasks-list.cdk-drop-list-dragging .task-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.chevron-icon {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

.chevron-icon.collapsed {
  transform: rotate(0);
  transition: transform 200ms ease-in-out;
}

.list-title {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  height: 24px;
}

.todo-item {
  cursor: default;
  overflow: hidden;
  border-bottom: solid 1px theme.mat-color(theme.$grey-palette, 600);
  padding: 0 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .drag-handle {
    cursor: move;
    margin-top: 1rem;
  }
}

.todo-item:last-child {
  border: none;
}

.app-pill {
  width: fit-content;
  margin-left: 0.8rem;
}

.empty-info {
  padding: 1rem;
  color: theme.mat-color(theme.$grey-palette, 500);
}

/* ------------------------------- light theme ------------------------------ */
.app-light-theme {
  .tasks-list,
  .todo-item,
  .task-wrapper {
    background: white;
    color: black;
  }

  .todo-item {
    border-bottom-color: theme.mat-color(theme.$grey-palette, 300);
  }
}
