<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;" class="login-wrapper">
  <mat-card style="width: 500px;">
    <form [formGroup]="confirmForm" fxLayout="column" fxLayoutAlign="start stretch" (submit)="submit();">
      <div class="app-title">My To Do</div>
      <span class="page-title">password recovery</span>

      <ng-container *ngIf="userEmail; else verifyingCode">
        <mat-form-field appearance="standard" [hideRequiredMarker]="true">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="******" type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="formHasError('password','required')">new password is required</mat-error>
          <mat-error *ngIf="formHasError('password','minlength')">new password must have at least 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" [hideRequiredMarker]="true">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="******" type="password" formControlName="confirmPassword">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="formHasError('confirmPassword','required')">password confirmation is required</mat-error>
          <mat-error *ngIf="formHasError('confirmPassword','notMatching')">passwords do not match</mat-error>
        </mat-form-field>
        <span class="text-center text-small my-2">changing password for {{userEmail}}</span>
      </ng-container>
      <ng-template #verifyingCode>
        <ng-container *ngIf="!errorText">
          <div style="width: 100%; height: 200px; display: flex; align-items: center; justify-content: center;">
            <mat-spinner></mat-spinner>
          </div>
          <span class="text-center text-small">validating information</span>
        </ng-container>
      </ng-template>

      <mat-error *ngIf="errorText" class="text-center">{{errorText}}</mat-error>
      
      <!-- TODO: add link to resend email if something fails -->

      <button mat-flat-button color="primary" class="mt-3" type="submit" app-spinner-button [isLoading]="isLoading"
        *ngIf="userEmail">reset password</button>
    </form>
  </mat-card>
</div>