<mat-toolbar color="primary">
    <mat-icon class="mr-2">check_circle_outline</mat-icon> <span>My ToDo</span>
    <button mat-icon-button aria-label="Example icon-button with share icon" style="margin-left: auto;">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<!-- <div style="width: 100vw; margin-top: calc(55px + 1rem); overflow-y: scroll; max-height: calc(100vh - 50px);">
    <router-outlet></router-outlet>
</div> -->

<div class="page-wrapper">
    <!-- <div style="width: 100vw; background-color: red; width: 100vw;
height: calc(100vh - 50px); margin: 0;">

</div> -->
    <router-outlet></router-outlet>

    <mat-slide-toggle (click)="toggleTheme()">Slide Toggle</mat-slide-toggle>
</div>