@use 'sass:map';
@use '@angular/material' as mat;
@use "./app-theme" as theme;



.app-light-theme {
  @include mat.all-component-colors(theme.$light-theme);

  color: theme.$black-87-opacity !important;
  background-color: theme.mat-color(theme.$grey-palette, 200) !important;
}

.app-light-theme {
  a, a:hover {
    color: theme.mat-color(theme.$light-primary, default);
  }

  mat-card {
    background-color: #fff !important;
    color: theme.$light-font !important;
  }

  .app-pill {
    background-color: theme.mat-color(theme.$grey-palette, 200);
  }
}
