@use 'sass:map';
@use '@angular/material' as mat;
@use "./app-theme" as theme;



@include mat.all-component-themes(theme.$dark-theme);
@include mat.toolbar-theme(theme.$custom-dark-theme);
@include mat.snack-bar-theme(theme.$custom-dark-theme);

body {
  color: #fff !important;
  background-color : theme.mat-color(theme.$custom-dark-primary, 900) !important;
}

a, a:hover {
  color: theme.mat-color(theme.$dark-primary, 200);
  text-decoration: none;
  transition: transform 100ms linear;
}

a:hover {
  transform: translateY(-1px);
  transition: transform 100ms linear;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #dcedc8 inset;
  -webkit-box-shadow: 0 0 0 30px #dcedc8 inset;
}

mat-card {
  background-color: theme.mat-color(theme.$custom-dark-primary) !important;
  color: theme.$dark-font !important;
  max-width: calc(100vw - 2rem);
}

.app-pill {
  border-radius: 20px;
  background-color: theme.mat-color(theme.$custom-dark-primary, 400);
  padding: 3px 10px;
  white-space: nowrap;
  margin-right: 1rem;
}