@use "@angular/material" as mat;
@import "~@angular/material/theming";

@include mat.core();

// Custom Dark palette
$custom-dark-palette: (
  50: #ffffff,
  100: #d2d2d2,
  200: #a5a5a5,
  300: #797979,
  400: #4c4c4c,
  500: #1f1f1f,
  600: #1c1c1c,
  700: #191919,
  800: #161616,
  900: #131313,
  A100: #ffffff,
  A200: #d2d2d2,
  A400: #4c4c4c,
  A700: #191919,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

// Grey palette 
$grey-palette: mat.define-palette(mat.$grey-palette);

// Custom dark theme
$custom-dark-primary: mat-palette($custom-dark-palette);
$custom-dark-accent: mat.define-palette(mat.$light-green-palette,400);
$custom-dark-theme: mat-dark-theme($custom-dark-primary, $custom-dark-accent);

// Light theme
$light-primary: mat.define-palette(mat.$light-green-palette,600);
$light-accent: mat.define-palette(mat.$light-green-palette, 600);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Dark theme
$dark-primary: mat.define-palette(mat.$light-green-palette, 400);
$dark-accent: mat.define-palette(mat.$light-green-palette, 400);
$dark-warn: mat.define-palette(mat.$red-palette,400);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.all-component-themes($dark-theme);
@include mat.toolbar-theme($custom-dark-theme);
@include mat.snack-bar-theme($custom-dark-theme);

body {
  color: #fff !important;
  background-color : mat-color($custom-dark-primary, 900) !important;
}

.app-light-theme {
  @include mat.all-component-colors($light-theme);

  color: $black-87-opacity !important;
  background-color: mat-color($grey-palette, 100) !important;
}
