.app-title {
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 3rem;
}

mat-form-field {
  margin-bottom: 0.5rem;
}

.page-title {
  text-align: center;
  font-weight: 200;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #8a8a8a;
}

.app-light-theme {
  .page-title {
    color: #555555;
  }
}

.bottom-link {
  position: absolute;
  bottom: 1.8rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 200;

  a, a:hover {
    color: black;
    font-weight: 500;
  }
}
