.app-title {
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 3rem;
}

.app-title::after {
  content: "My To Do";
}

mat-form-field {
  margin-bottom: 0.5rem;
}

.text-small,
.page-title {
  color: #8a8a8a;
}

.page-title {
  text-align: center;
  font-weight: 200;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.app-light-theme {
  .text-small,
  .page-title {
    color: #8a8a8a;
  }
}

.bottom-link {
  position: absolute;
  bottom: 1.8rem;
  font-size: 1.2rem;
  color: inherit;
  font-weight: 200;

  a,
  a:hover {
    color: inherit;
    font-weight: 500;
  }
}
