<!-- <div mat-dzialog-title class="d-flex justify-content-between">
  <h2>{{title}}</h2>
  <button mat-icon-button aria-label="Delete icon" *ngIf="data.id" (click)="onDeleteClick()">
    <mat-icon>delete_outline</mat-icon>
  </button>
</div> -->

<div mat-dialog-content>
  <button mat-flat-button class="w-100 mb-2 alpha-10" (click)="logout()">logout</button>
  <button mat-flat-button class="w-100 mb-1 alpha-10" (click)="toggleTheme()">{{isDarkTheme()? 'light' : 'dark'}} theme</button>
</div>
<!-- <div mat-dialog-actions class="w-100 d-flex justify-content-end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div> -->
